{% extends 'base.html' %}
{% block 'body' %}
<h2>
    Target logged in state is: <strong>{{ icit_state.should_be_logged_in }}</strong>
</h2>
<div>
    <button id="toggle-btn">
        Toggle Logged In Target State
    </button>
</div>
<div style="margin-top:1.5rem; padding:1rem; border: 1px solid black;">
    <h2>Dummy Machine Messages</h2>
    {% for message in messages %}
        <div style="background-color:#dbdbdb; margin:0.5rem; padding:0.5rem;">
            {{ message.created_at|localtime }}
            <hr>
            {{ message.message }}
        </div>
    {% endfor %}
</div>
<script>
    $(document).ready(async () => {
        $("#toggle-btn").click(async ()=>{
            const response = await postData("{% url 'icit-toggle-state' %}")
            if(response.status == 200) {
                location.reload();
            } else {
                console.error(response);
                alert("Something Went Wrong");
            }
        })
    })
</script>
{% endblock %}
